.navbar-custom
  background: #B6DEDC

.navbar
  font-family: 'Montserrat', sans-serif
  color: #9C6A8D
  font-weight: 700
  padding: 10px
  background: #B6DEDC
  .form-control
    margin-left: 40px
  h4
    color: #9C6A8D
    padding-left: 40px
    padding-top: 5px
    font-weight: 700
    text-decoration: none