.dropdown-menu a{
    color: #000 !important;
}

.fadein { 
    position:relative; 
}

.fadein img { 
    position:absolute; 
    left:20%; 
    top:50px; 
    width:700px; 
}

.jumbotron {
    background: url("/assets/TonyFischer.png");
}

