.dropdown-menu a{
    color: #000 !important;
}

.fadein { 
    position:relative; 
}

.fadein img { 
    position:absolute; 
    left:20%; 
    top:50px; 
    width:700px; 
}

.jumbotron {
    background: url("/assets/TonyFischer.png");
    background: url('http://imageshack.com/a/img537/4066/d8Ml4a.png') repeat center center fixed;
}

