<div class = "container">
  <div class="footer">
  <p>Coded by Ashlynn Pai.  Sunset photo by Tony Fischer, CC by 2.0.  Attributions for other photos are in the farm descriptions.</p>
  </footer>
</div>